
    <%- include('partials/main_nav.ejs') %>
        <%- include('partials/header') %>
           <div class="sm-width-wrapper">

                    <img class="img-fluid pt-4" src="/public/assets/images/me.jpg" alt=""
                        width="420">


                    <h3 class="display-3">
                        Theresa Bennett
                    </h3>
                    <div class="lead">
                       <p>
                            I am currently in my 4th year as a student at Centennial College School of Engineering Artificial Intelligence <br>
                            currently studying to be a software engineer specializing in Web development.
                            <br>

                            <br> I am interested in creating websites and styling them .
                            <br> My goal is to develop a comapny that specializes in <b>Web Decelopment.</b> <br>

                            <br>I also plan to create my own interative social website
                            
                        </p>
                        <a target="_blank" href="/">
                            <button class="btn btn-pill btn-dark p-3">
                                View my resume
                            </button>
                        </a>

                    </div>


                </div>

                <%- include('partials/bottom_nav') %>


                    <%- include('partials/footer') %>