 <%- include('partials/header.ejs') %>

    <%- include('partials/main_nav.ejs') %>

     <!DOCTYPE html>
<script src="about.js"></script>
<section class="intro">
    <div class="bg-image-vertical h-100" style="background-color: #EFD3E4;
            background-image: url(https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
          ">
      <div class="mask d-flex align-items-center h-100">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
              <div class="card" style="border-radius: 1rem;">
                <div class="card-body p-5">
  

                  <h1 class="mb-5 text-center">Projects</h1>
                           <div class="sm-width-wrapper">


                    <div class="container">
                        

                        <div class="">
                            <div  i class=""></i>
                                <h4>Real Estate Agent Website</h4>
                              </div>
                              <p> In my second semester at Centennial College, I was tasked with developing an
                        abstract responsive marketing website for a "real" real estate agent</p>

                              <div class="">
                             <div i class="">
                                    <h4>Personal Business Website </h4>
                                  </div>
                                  <p>I created a website through shopify for a small business I created during COVID
                                  <br> Where I sold home made bath bombs.</p>

                                  <div class="">
                                   <div i class="">
                                        <h4>Custom Logos</h4>
                                      </div>
                                      <p>I make custom logos for people through Photoshop and Canva
                                      <br>
                                      Below are a few simple logo designs that I have created. </p>
                                      
                        <img  src="/assets/images/logo.png" alt=""
                        class="center" width="420" >
                     <style>
                        
                        img {
                            width:200px;
                            height:200x;
                            border-radius: 50%;
                            
                        }
                        
                     </style>
                   
                       
                        <img  src="/assets/images/lavbombs.png" alt=""
                        class="center" width="420" >
                     <style>
                        
                        
                     </style>
                
                        <img  src="/assets/images/LAV (1).png" alt=""
                        class="center" width="420" >
                     <style>
                    </div>
              
                     
                      
  
                    </div>

             
</html>


<%- include('partials/bottom_nav.ejs') %>

                <%- include('partials/footer.ejs') %>