<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>

<!--CSS Section-->
  <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css' />

  <link rel='stylesheet' href='/content/app.css' />

</head>
<body>
<!--Main Nav-->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">COMP229</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home" > <i class="fa-solid fa-house" style="color: #fdb4e2;"></i> Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/about"> <i class="fa-solid fa-address-card" style="color: #fdb4e2;"></i> About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects"> <i class="fa-solid fa-file" style="color: #fdb4e2;"></i> Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/services"> <i class="fa-solid fa-code"  style="color: #fdb4e2;"></i>  Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact"> <i class="fa-solid fa-envelope" style="color: #fdb4e2;"></i> Contact</a>
        </li>

      </div>
</nav>

<!--Main content-->
<main class="container">
  <div class="Jumbotron">
    <h1 class="display-4"> Welcome to the <%= title %> page</h1>
    <hr class="my-4">
  
  </div>
</main>


  <!--Scripts Section-->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/scripts/app.js"></script>
</body>
</html>

