
<%- include('partials/header.ejs') %>

<%- include('partials/main_nav.ejs') %>
<!--Main content-->

<!DOCTYPE html>
<script src="index.js"></script>
<head>
<div class="bg-image-vertical h-100" style="background-color: #EFD3E4;background-image: url(https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
          ">
     
       <b>  <h1 style="font-family: 'Times New Roman', Times, serif;"
        class="mb-5 text-center">Welcome to the Homepage</h1></b> 

     <p><h4 style="font-family: 'Times New Roman', Times, serif;"
        class="mb-5 text-center" >"The hunger to win has to over power the fear of failing." </h4>
     </p>
<div class="container"
         style="text-align:center;">
        <input type="button" onclick="window.location.href='/about'" class="btn btn-secondary btn-rounded btn-block" value="GET TO KNOW ME"/>
    </div>
















 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br><br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br><br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br><br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br><br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>




</html>
<%- include('partials/bottom_nav.ejs') %>

<%- include('partials/footer.ejs') %>