

    <%- include('partials/header') %> 
    
    
    <%- include('partials/main_nav.ejs') %>
   
         <!DOCTYPE html>
<script src="about.js"></script>
<section class="intro">
    <div class="bg-image-vertical h-100" style="background-color: #EFD3E4;
            background-image: url(https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
          ">
      <div class="mask d-flex align-items-center h-100">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
              <div class="card" style="border-radius: 1rem;">
                <div class="card-body p-5">
  
                  <h1 class="mb-5 text-center">About Me</h1>
  

                    <!-- 2 column grid layout with text inputs for the first and last names -->
                           <div class="sm-width-wrapper">


    
         
                        <img  src="/assets/images/me.jpg" alt=""
                        class="center" width="420" >
                     <style>
                        
                        img {
                            width:250px;
                            height:250px;
                            border-radius: 50%;
                            
                        }
                        
                     </style>
                       
<br>
   My name is <b>Theresa Bennett</b>
   <br>
I'm from Toronto, Ontario. 
<br>
I am currently in my 5th semester /3rd year as a student at Centennial College School of Engineering Artificial Intelligence
<br>
currently studying to be a software engineer specializing in Web development and design.
<br>
                            
                             <br><b> My goals upon finishing my studies are: </b>  
                             <br>
                            - Develop a comapny that specializes in Web Development
                            <br> 
                            - Create my own interactive / social website 

                     </p>  </a>
                   <a target="_blank"  a href="https://acrobat.adobe.com/id/urn:aaid:sc:US:e05cb484-771e-44be-9549-a64bc77ed693" >
                            <button class="btn btn-pill btn-dark p-3">
                                View my resume
                            </button>
                      
  
                    </div>

             
</html>

            
  
                  
                    
  
        
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</html>


         
   

                <%- include('partials/bottom_nav') %>


                    <%- include('partials/footer') %>