
    <%- include('partials/main_nav.ejs') %>
        <%- include('partials/header') %>
         
         
           <div class="sm-width-wrapper">

        <section class="intro">
    <div class="bg-image-vertical h-100" style="background-color: #EFD3E4;
            background-image: url(https://mdbootstrap.com/img/Photos/new-templates/search-box/img1.jpg);
          ">

         
                        <img class="img-fluid pt-4" src="/assets/images/me.jpg" alt=""
                        width="420">
                     <style>
                        
                        img {
                            width:250px;
                            height:250px;
                            border-radius: 50%;
                            
                        }
                        
                     </style>
                       

   
<br>
I'm from Toronto, Ontario. 
<br>
I am currently in my 4th year as a student at Centennial College School of Engineering Artificial Intelligence
<br>
currently studying to be a software engineer specializing in Web development.
<br>
                            
                             <br><b> My goals upon finishing my studies are: </b>  
                             <br>
                            - Develop a comapny that specializes in Web Development
                            <br> 
                            - Create my ownn interactive website 

                     </p>  </a>
                   <a target="_blank" href="/">
                            <button class="btn btn-pill btn-dark p-3">
                                View my resume
                            </button>
                      
  
                    </div>

             
</html>



                <%- include('partials/bottom_nav') %>


                    <%- include('partials/footer') %>