
  <%- include('partials/header.ejs') %>

    <%- include('partials/main_nav.ejs') %>

<!DOCTYPE html>
<script src="contact.js"></script>
<section class="intro">
    <div class="bg-image-vertical h-100" style="background-color: #EFD3E4;
            background-image: url(https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
          ">
     
   
      <div class="mask d-flex align-items-center h-100">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
              <div class="card" style="border-radius: 1rem;">
                <div class="card-body p-5">
  
                  <h1 class="mb-5 text-center">Contact Information</h1>
               <body>
                <div class="col-md-6 d-flex align-items-stretch">
                  <div class="info-wrap w-100 p-lg-5 p-4 img">
            
                 
                  <div class="dbox w-100 d-flex align-items-start">
                  <div class="icon d-flex align-items-center justify-content-center">
                  <span class="fa fa-map-marker"></span>
                  </div>
                  <div class="text pl-3">
                  <p><span>Address:</span> Toronto, ON 
                  </div>
                  </div>
                  <div class="dbox w-100 d-flex align-items-center">
                  <div class="icon d-flex align-items-center justify-content-center">
                  <span class="fa fa-phone"></span>
                  </div>
                  <div class="text pl-3">
                  <p><span>Phone:</span> <a href="tel://1234567920">+ 416 820 2675</a></p>
                  </div>
                  </div>
                  <div class="dbox w-100 d-flex align-items-center">
                  <div class="icon d-flex align-items-center justify-content-center">
                  <span class="fa fa-paper-plane"></span>
                  </div>
                  <div class="text pl-3">
                  <p><span>Email:</span> tbenne21@my.centennialcollege.ca <a href=""><span class="__cf_email__" f"></span></a></p>
                  </div>
                  </div>
                </div>
              </div>
               </body>
                  
  
                  <h1 class="mb-5 text-center">Contact Form</h1>
  
                  <form>
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row">
                      <div class="col-12 col-md-6 mb-4">
                        <div class="form-outline">
                          <input type="text" id="form6Example1" class="form-control" />
                          <label class="form-label" for="form6Example1">First name</label>
                        </div>
                      </div>
                      <div class="col-12 col-md-6 mb-4">
                        <div class="form-outline">
                          <input type="text" id="form6Example2" class="form-control" />
                          <label class="form-label" for="form6Example2">Last name</label>
                        </div>
                      </div>
                    </div>
  
            
  
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                      <input type="email" id="form6Example5" class="form-control" />
                      <label class="form-label" for="form6Example5">Email</label>
                    </div>
  
                    <!-- Number input -->
                    <div class="form-outline mb-4">
                      <input type="number" id="form6Example6" class="form-control" />
                      <label class="form-label" for="form6Example6">Phone</label>
                    </div>
  
                    <!-- Message input -->
                    <div class="form-outline mb-4">
                      <textarea class="form-control" id="form6Example7" rows="4"></textarea>
                      <label class="form-label" for="form6Example7">Message</label>
                    </div>
  
                 
    <div class="container"
         style="text-align:center;">
        <input type="button" onclick="window.location.href='/#'" class="btn btn-secondary btn-rounded btn-block" value="Send"/>
    </div>
</body>
                </form>
                    </div>
                    
  
        
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</html>


<%- include('partials/bottom_nav.ejs') %>

                <%- include('partials/footer.ejs') %>