
<%- include('partials/header.ejs') %>

<%- include('partials/main_nav.ejs') %>
<!--Main content-->

<!DOCTYPE html>
<script src="about.js"></script>
<section class="intro">
    <div class="bg-image-vertical h-100" style="background-color: #EFD3E4;
            background-image: url(https://mdbootstrap.com/img/Photos/new-templates/search-box/img1.jpg);
          ">
     
       <b>    <h1 class="mb-5 text-center">Welcome to the Homepage</h1></b> 
       <div class="mask d-flex align-items-center h-1000">
   
  
<br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br><br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br><br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br><br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br><br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br><br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br><br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br><br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>




</html>
<%- include('partials/bottom_nav.ejs') %>

<%- include('partials/footer.ejs') %>