 <%- include('partials/header.ejs') %>

    <%- include('partials/main_nav.ejs') %>

     <!DOCTYPE html>
<script src="about.js"></script>
<section class="intro">
    <div class="bg-image-vertical h-100" style="background-color: #EFD3E4;
            background-image: url(https://mdbootstrap.com/img/Photos/new-templates/search-box/img1.jpg);
          ">
      <div class="mask d-flex align-items-center h-100">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
              <div class="card" style="border-radius: 1rem;">
                <div class="card-body p-5">
  



                  <h1 class="mb-5 text-center">Projects</h1>
  

                    <!-- 2 column grid layout with text inputs for the first and last names -->
                           <div class="sm-width-wrapper">


    
         
                      
                       

   
<div class="block">
                        <img class="project-shot" src=""
                            alt="">
                        <div class="block-info">
                            <h3 class="block-title">Real Estate Agent Website</h3>
                            <div class="view-code"><a target="_blank"
                                    href=""
                                    class="visit-site"></a></div>
                        </div>
                   
                        For my first semester final project at Centennial College, I was tasked with developing an
                        abstract responsive marketing website for a "real" real estate agent <p></p>
                
                    </div>
              
                     
                      
  
                    </div>

             
</html>


<%- include('partials/bottom_nav.ejs') %>

                <%- include('partials/footer.ejs') %>