 <%- include('partials/header.ejs') %>

    <%- include('partials/main_nav.ejs') %>

  <div class="block">
                        <img class="project-shot" src=""
                            alt="">
                        <div class="block-info">
                            <h3 class="block-title">Real Estate Agent Website</h3>
                            <div class="view-code"><a target="_blank"
                                    href=""
                                    class="visit-site"></a></div>
                        </div>
                    </div>
                    <div class="project-info">
                        <h2><a target="_blank"
                                href="">Real Estate Agent
                                Website</a></h2>
                        <p class="the-story">
                        </p>
                        <h3></h3>
                        For my first semester final project at Centennial College, I was tasked with developing an
                        abstract responsive marketing website for a "real" real estate agent <p></p>
                
                    </div>
              


<%- include('partials/bottom_nav.ejs') %>

                <%- include('partials/footer.ejs') %>